@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grey Qo", cursive;
}
.app{
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}